@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@font-face {
  font-family: "NetflixSans";
  src: url("../public/fonts/NetflixSans/NetflixSans-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NetflixSans";
  src: url("../public/fonts/NetflixSans/NetflixSans-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "NetflixSans";
  src: url("../public/fonts/NetflixSans/NetflixSans-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NetflixSans";
  src: url("../public/fonts/NetflixSans/NetflixSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@layer base {
  h1 {
    @apply text-6xl font-bold;
  }
  h2 {
    @apply text-xl font-light;
  }
  h3 {
    @apply text-base;
  }

  h4 {
    @apply text-5xl font-bold;
  }

  h5 {
    @apply text-sm font-bold;
  }

  h6 {
    @apply text-xs font-bold;
  }

  section {
    @apply px-[4%] py-[2%];
  }
}

.back {
  background-color: #f4ead7;
}

.front {
  position: absolute;
  border-right: 70vw solid #f4ead7;
  border-top: 80vh solid transparent;
  height: 100%;
  width: 0;
  top: 0;
  border-radius: 0.5rem;
  z-index: 4;
}
.front-left {
  position: absolute;
  border-left: 70vw solid #f6eedf;
  border-top: 80vh solid transparent;
  height: 100%;
  width: 0;
  top: 0;
  border-radius: 0.5rem;
  z-index: 5;
}

.top {
  position: absolute;
  border-top: 40vh solid #f7f0e3;
  border-left: 35vw solid transparent;
  border-right: 35vw solid transparent;
  height: 100%;
  width: 0;
  top: 0;
  border-radius: 0.5rem;
  z-index: 2;
}

.bubble p {
  transform: translatey(0px);
  animation: float 5s ease-in-out infinite;
  mix-blend-mode: multiply;
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 20px;
  color: $color-brown;
  padding: 50px;
  border-radius: 11px;
  position: relative;
  box-shadow: 15px 15px rgba(186, 182, 175, 0.59);
  background-color: #fdfbf7;
}

.sandi {
  animation: float 5s ease-in-out infinite;
}

.bubble p:after {
  transform: translatey(0px);
  animation: float2 5s ease-in-out infinite;
  content: ".";
  font-weight: bold;
  text-shadow: 22px 22px rgba(186, 182, 175, 0.59);
  text-align: left;
  font-size: 55px;
  width: 55px;
  height: 11px;
  line-height: 30px;
  border-radius: 11px;
  background-color: $color-beige;
  position: absolute;
  display: block;
  bottom: -30px;
  left: 0;
  box-shadow: 22px 22px rgba(186, 182, 175, 0.59);
  z-index: -2;
}

.bg-calendar {
  background-image: url("/images/Calendar.png");
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    line-height: 30px;
    transform: translatey(0px);
  }
  55% {
    transform: translatey(-20px);
  }
  60% {
    line-height: 10px;
  }
  100% {
    line-height: 30px;
    transform: translatey(0px);
  }
}
